.para1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    // border: 1px solid black;
    background-image: url(../img/1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    // position: absolute;
    top: 0;

    >.para2 {
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 110px;
        background-color: rgba(18, 21, 24, 0.876);
        padding: 30px 80px;
        top: 0;
        z-index: 1;

        >figure {
            width: 30%;
            height: 100%;
            // border: 1px solid white;
            display: flex;
            justify-content: start;
            align-items: center;

            >a {
                display: flex;
                justify-content: start;
                align-items: center;
                width: 80%;
                height: 80%;
                // border: 1px solid red;

            }
        }

        >ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 100%;

            // border: 1px solid green;
            >li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: 50px;
                // border: 1px solid wheat;
                margin: 0 20px;

                &:nth-of-type(1) a {
                    color: rgba(30, 115, 190, 1);
                }


                >a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    color: white;
                    transition: .4s;




                    &:hover {
                        color: rgba(30, 115, 190, 1);
                    }
                }
            }
        }

        >a {
            width: 10%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid red;
            color: white;
            font-size: 13px;
            background-color: rgba(30, 115, 190, 1);
            border-radius: 4px;
        }


    }

    >div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50%;
        // border: 1px solid red;
        bottom: 0;
        left: 0;
        margin-bottom: -200px;

        >h1 {
            width: 100%;
            height: 80px;
            // border: 1px solid white;
            text-align: center;
            font-size: 65px;
            color: white;
        }

        >p {
            width: 100%;
            height: 60px;
            // border: 1px solid white;
            text-align: center;
            font-size: 40px;
            color: white;
        }

        >a {
            width: 21%;
            height: 55px;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgba(30, 115, 190, 1);
            border-radius: 4px;
        }

    }
}

.para3 {
    display: flex;
    justify-content: center;
    // align-items: end;
    width: 100%;
    height: 150vh;
    // border: 1px solid red;
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgba(31, 35, 38, 1);
    padding: 100px;

    >div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: start;
        width: 100%;
        height: 400px;
        // border: 1px solid red;

        >h2 {
            width: 100%;
            height: 70px;
            // border: 1px solid green;
            text-align: center;
            color: rgba(255, 255, 255, 0.838);
            font-size: 45px;
        }

        >div {
            // margin-top: -150px;
            width: 200px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.685);
        }

        >ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 200px;
            // border: 1px solid purple;
            margin-top: 30px;

            >li {
                color: rgba(255, 255, 255, 0.848);
                padding: 30px;
                line-height: 30px;
            }
        }
    }
}

.para4 {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 130vh;
    // border: 1px solid red;
    background-color: rgba(39, 44, 48, 1);
    padding-top: 50px;

    >h3 {
        display: flex;
        justify-content: center;
        // align-items: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100px;
        // border: 1px solid red;
        color: rgba(255, 255, 255, 0.895);
        font-size: 45px;
    }

    >div {
        width: 150px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.678);
    }

    >h4 {
        width: 100%;
        height: 50px;
        // border: 1px solid white;
        font-size: 25px;
        color: rgba(255, 255, 255, 0.895);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    >.para5 {
        width: 380px;
        height: 250px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: perspective(800px);
        transition: 1s;
        transform-style: preserve-3d;
        margin: 20px;
        // margin-top: 40px;

        &:hover {
            transform: perspective(800px) rotateY(180deg);
            cursor: pointer;

        }

        &:nth-of-type(2) .para7 {
            background-color: rgba(30, 190, 104, 1);
        }

        &:nth-of-type(3) .para7 {
            background-color: rgba(30, 115, 190, 1);
        }

        &:nth-of-type(4) .para7 {
            background-color: rgba(122, 63, 157, 1);
        }

        &:nth-of-type(5) .para7 {
            background-color: rgba(156, 64, 123, 1);
        }

        &:nth-of-type(6) .para7 {
            background-color: rgba(235, 122, 36, 1);
        }



        >div {
            border-radius: 4px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            // padding: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: bold;
            color: wheat;




            &:nth-of-type(1) {
                background-color: rgba(30, 190, 184, 1);

                >span {
                    width: 100%;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: 1px solid white;

                    >i {
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.103);
                        border-radius: 50%;
                        font-size: 30px;
                    }
                }
            }

        }

        >.para6 {

            background-color: rgba(30, 115, 190, 1);
            transform: translateZ(-1px) scaleX(-1);
        }
    }
}

.para8 {
    width: 100%;
    height: 130vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-image: url(../img/4.jpg);
    // background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;


    >div {
        left: 0;
        top: 0;
        width: 840px;
        height: 80%;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        // background-color: rgba(0, 255, 255, 0.678);
        padding: 20px 0;
        padding-left: 60px;
        // padding: 20px 0;


        >h3 {
            width: 100%;
            height: 50px;
            font-size: 40px;
            // border: 1px solid red;
            color: white;
        }

        >div {
            width: 100%;
            height: 1px;
            background-color: rgb(184, 180, 180);
        }

        >ul {
            width: 100%;
            height: 600px;
            // border: 1px solid green;
            padding-right: 30px;

            >li {
                width: 100%;
                height: 130px;
                // border: 1px solid black;
                display: flex;
                margin: 50px 0;


                >span {
                    width: 80px;
                    height: 100%;
                    // border: 1px solid yellow;

                    >i {
                        width: 50px;
                        height: 50px;
                        background-color: rgba(30, 115, 190, 1);
                        border-radius: 50%;
                        font-size: 30px;
                        color: rgba(255, 255, 255, 0.911);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                >div {
                    width: calc(100% - 80px);
                    height: 100%;
                    // border: 1px solid goldenrod;


                    >h4 {
                        width: 40%;
                        height: 30px;
                        font-size: 25px;
                        // border: 1px solid purple;
                        text-transform: capitalize;
                        color: rgba(255, 255, 255, 0.904);

                        &:hover {
                            color: rgba(30, 115, 190, 1);
                        }
                    }

                    >p {
                        width: 100%;
                        height: 70px;
                        // border: 1px solid black;
                        font-size: 17px;
                        color: rgb(197, 197, 197);
                        margin-top: 20px;

                    }
                }
            }
        }
    }
}

.para9 {
    width: 100%;
    height: 130vh;
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-attachment: fixed;

    >.para10 {
        width: 840px;
        height: 800px;
        // background-color: aqua;
        padding-left: 60px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding-top: 80px;

        >h4 {
            width: 100%;
            height: 50px;
            // border: 1px solid green;
            font-size: 40px;
            display: flex;
            align-items: center;
            color: rgba(255, 255, 255, 0.849);
        }

        >div {
            width: 100%;
            height: 1px;
            background-color: rgb(168, 168, 168);
            margin-top: 40px;

        }

        >nav {
            width: 840px;
            height: 250px;
            // border: 1px solid yellow;
            display: flex;
            margin-top: 50px;

            >figure {
                width: 500px;
                height: 220px;
                // border: 1px solid black;
                display: flex;
                // justify-content: center;
                align-items: center;
                cursor: pointer;

                &:nth-of-type(1):hover img {
                    transform: perspective(800px) translateZ(20px);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.521);
                }

                &:nth-of-type(2):hover img {
                    transform: perspective(800px) translateZ(20px);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.521);
                }

                >img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // width:450px ;
                    height: 220px;
                    // object-fit: cover;
                    transition: .4s;

                }

                &:nth-of-type(2) {
                    width: 220px;
                    height: 220px;
                    // border: 1px solid purple;
                    margin-left: 20px;

                    >img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // width: 100%;
                        height: 100%;
                        transition: .4s;

                    }
                }




            }
        }

        >P {
            width: 100%;
            height: 120px;
            // border: 1px solid red;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.753);
            padding-right: 10px;
        }

        >.para11 {
            width: 100%;
            height: 120px;
            // border: 1px solid red;
            background-image: url(../img/10.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(0, 0, 0, 0.137);
            display: flex;
            align-items: center;
            padding: 0 40px;

            >a {
                width: 200px;
                height: 50px;
                // border: 1px solid palegoldenrod;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                color: white;
                background-color: rgba(30, 115, 190, 1);
                font-weight: bold;
            }
        }


    }


}

.para12 {
    width: 100%;
    height: 130vh;
    // border: 1px solid red;
    background-image: url(../img/8.jpg);
    background-size: cover;
    background-attachment: fixed;


    >.para13 {
        width: 840px;
        height: 700px;
        // background-color: aqua;
        padding-left: 100px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;

        >h4 {
            width: 500px;
            height: 50px;
            // border: 1px solid peru;
            font-size: 40px;
            color: rgba(255, 255, 255, 0.877);

        }

        >.para15 {
            width: 100%;
            height: 1px;
            background-color: rgb(184, 184, 184);
        }

        >.para14 {
            display: flex;
            width: 838px;
            height: 312px;
            // border: 1px solid green;

            >figure {
                width: 23%;
                height: 100%;
                // border: 1px solid black;
                display: flex;
                // justify-content: center;
                align-items: center;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: 50% 50%;
                }
            }


            >ul {
                width: 77%;
                height: 100%;
                // border: 1px solid yellow;
                padding-left: 55px;


                >p {
                    width: 100%;
                    height: 100px;
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.829);
                }

                >li {
                    width: 100%;
                    // border: 1px solid purple;
                    height: 30px;
                    display: flex;

                    >i {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 20px;
                        color: rgba(255, 255, 255, 0.815);
                        width: 30px;
                        height: 30px;
                        // border: 1px solid yellowgreen;
                    }

                    >p {
                        width: 300px;
                        height: 100%;
                        //   border: 1px solid red;  
                        display: flex;
                        align-items: center;
                        color: rgba(255, 255, 255, 0.815);
                    }
                }


            }
        }

        >.para16 {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100px;
            // border: 1px solid red;
            background-image: url(../img/10.png);
            background-position: center;
            background-color: rgba(0, 0, 0, 0.137);
            background-repeat: no-repeat;
            padding: 0 40px;

            >a {
                width: 200px;
                height: 50px;
                // border: 1px solid palegoldenrod;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                color: white;
                background-color: rgba(30, 115, 190, 1);
                font-weight: bold;

            }
        }


    }
}



.para17 {
    width: 100%;
    height: 160vh;
    // border: 1px solid red;
    background-color: rgba(31, 35, 38, 1);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

    >h4 {
        width: 100%;
        height: 50px;
        // border: 1px solid purple;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.829);
        margin-top: 100px;
    }

    >div {
        width: 150px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.76);
        margin-top: 40px;
    }

    >h5 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        font-size: 25px;
        color: rgba(255, 255, 255, 0.795);
        margin-top: 20px;
    }

    >nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 700px;
        // border: 1px solid greenyellow;
        padding: 30px;


        >figure {
            width: 370px;
            height: 280px;
            // border: 1px solid palegoldenrod;
            margin: 20px;

            &:hover img {
                transform: perspective(800px) translateZ(30px);
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.281);
            }

            >a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .4s;

                }
            }
        }
    }
}


.para18 {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 180vh;
    background-color: rgba(20, 23, 25, 1);
    background-image: url(../img/11.jpg);
    background-repeat: no-repeat;
    background-position: bottom;

    >h3 {
        width: 100%;
        height: 50px;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: rgba(255, 255, 255, 0.836);
        margin-top: 100px;
    }

    >div {
        width: 150px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: 50px;
    }

    >h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.836);
        margin-top: 30px;
    }

    >p {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        color: rgba(255, 255, 255, 0.822);
        text-align: center;
    }

}

.para19 {
    width: 100%;
    height: 160vh;
    // border: 1px solid red;
    background-image: url(../img/18.jpg);
    display: flex;
    justify-content: space-evenly;
    // align-content: flex-start;
    flex-wrap: wrap;

    >h3 {
        width: 100%;
        height: 50px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.774);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.911);
        margin-top: 30px;
    }

    >nav {
        width: 100%;
        height: 800px;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;


        >div {
            width: 350px;
            height: 85%;
            background-color: rgba(0, 0, 0, 0.253);
            padding: 30px;
            margin: 0 20px;

            >figure {
                width: 100%;
                height: 320px;
                // border: 1px solid blue;

                &:hover img {
                    transform: perspective(800px) translateZ(20px);
                }

                >a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;



                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: .4s;
                    }
                }
            }

            >h3 {
                width: 100%;
                height: 50px;
                font-size: 25px;
                color: rgba(255, 255, 255, 0.822);
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            >p {
                width: 100%;
                height: 100px;
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                // align-items: center;
                text-align: center;
                color: rgba(255, 255, 255, 0.76);
                font-size: 15px;
                padding: 10px;
            }

            >nav {
                width: 100%;
                height: 100px;
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                align-items: center;

                >ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 70%;
                    // border: 1px solid purple;

                    >li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        // border: 1px solid green;
                        border-radius: 50%;
                        position: relative;
                        margin: 0 5px;

                        &:nth-of-type(2) a {
                            background-color: #55acee;
                        }

                        &:nth-of-type(3) a {
                            background-color: #3f729b;
                        }

                        &:nth-of-type(4) a {
                            background-color: #ea4c89;
                        }

                        &:hover div {
                            opacity: 1;
                        }

                        >div {
                            width: 80px;
                            height: 25px;
                            // border: 1px solid red;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: -80px;
                            position: absolute;
                            background-color: rgb(26, 24, 24);
                            color: rgba(255, 255, 255, 0.582);
                            opacity: 0;
                            transition: .4s;
                        }

                        >a {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            color: white;
                            background-color: #3b5998;
                            border-radius: 50%;
                        }


                    }
                }
            }
        }
    }
}

.para20 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    background-image: url(../img/22.jpg);
    background-attachment: fixed;

    >.para21 {
        width: 90%;
        height: 80%;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;

        >h3 {
            width: 100%;
            height: 50px;
            // border: 1px solid pink;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(255, 255, 255, 0.788);
            font-size: 40px;
            margin-top: 100px;
        }

        >div {
            width: 150px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.842);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
        }

        >nav {
            width: 100%;
            height: 350px;
            // border: 1px solid aqua;
            display: flex;
            justify-content: center;
            align-items: center;


            >form {
                width: 60%;
                height: 350px;
                // border: 1px solid mediumpurple;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                >input {
                    width: 300px;
                    height: 50px;
                    background-color: rgba(82, 81, 83, 0.473);
                    color: white;
                    font-size: 15px;
                    // border: 1px solid white;
                    margin: 15px;
                    padding-left: 10px;

                    &:last-child {
                        width: 87%;
                        height: 100px;
                    }

                    &:hover {
                        border: 1px solid white;
                    }
                }

                >button {
                    background-color: rgba(30, 115, 190, 1);
                    width: 150px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgba(255, 255, 255, 0.829);
                    font-size: 15px;
                    border-radius: 5px;
                    border: none;
                    border-top: 1px solid white;
                    cursor: pointer;
                }
            }
        }
    }
}

.para22 {
    width: 100%;
    height: 120vh;
    background-color: rgba(31, 35, 38, 1);
    background-image: url(../img/23.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    // align-items: center;


    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 200px;
        // border: 1px solid red;

        >span {
            font-size: 30px;
            color: rgba(30, 115, 190, 1);
            margin: 20px 0;

            >h2 {
                font-size: 25px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            >h3 {
                font-size: 25px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            >h4 {
                font-size: 25px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            >h5 {
                font-size: 25px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}